body{
    background: none;
  
}

header{
   /* background: #009288ff;*/
  /* background: rgb(98, 209, 202);
 */
    font-family: 'Roboto', sans-serif;
}

img{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
   margin-top: 40px;
}

.row{
    background: #5471A7;
}

.cuadro{
        border: 1px solid;
}

h1{
    text-align: center;
}


main{
    
    text-align: justify;
    font-family: 'Original Surfer', cursive;
  }



h4{
    text-align:center;
    color:white;
    margin-left: 10%;
    margin-right: 10%;
}

h3{
    text-align:center;
    color:#FCBA65;
    margin-left: 10%;
    margin-right: 10%;
}

h5{
    color:white;
    text-align: center;
}

p{
   
    color:#FFFFFF;
    margin-right: 10%;
    margin-left: 10%;
}

#logo{
  width: 20%;  
}

@media screen and (max-width:559px){
    #logo{
        width: 30%;  
}
}